.services{
	.grid{
		background-size: contain;
	}
	section{
		border-bottom: solid 1px palette(gray, x-light);
		&:last-of-type{
			border-bottom: none;
		}
		&.bg-dark, &.bg-blue{
			border-bottom: none;
		}
	}
	&.main{
		& > section{
			.grid {
				h1{
					text-align: left;
					@include mq(small){
						text-align: center;
					}
				}
				.centered{
					h1{
						text-align: center;
					}
				}
			}
			&.banner{
				padding-top: 0px;
			}
		}
	}
}


.food-court-brands{
	@include flex-display();
	@include flex-wrap( wrap );
}

.food-court-brand{
	@include flex();
	width: 23%;
	margin: 2% 1%;
	padding: 25px;
	border: solid 1px $green;
	text-align: center;
	@include mq(medium){
		width: 48%;
	}
	@include mq(small){
		width: 98%;
	}
	h3{
		color: $green;
		font-size: 1.4em;
	}
	.logo{
		height: 160px;
		border-bottom: solid 5px $green;
		position: relative;
		img{
			margin: 0;
			height: 100%;
		}
		&:after{
			display: block;
		  content: ' ';
		  width: 0;
		  height: 0;
		  background: transparent;
		  left: 50%;
		  position: absolute;
		  margin-left: -10px;
		  border: solid transparent;
		  border-top-color: $green;
		  border-width: 10px;
		  bottom: -25px;
		}
	}
	p{
		font-size: 1em;
	}
}

.services_banner{
	height: 300px;
	background-size: cover;
	background-position: center;
	margin-bottom: 50px;
	transition: all .6s ease-in-out;
	&.unloaded{
		height: 0;
		margin-bottom: 0;
	}
}

#dining_hall_sub{
	.bullets{
		margin-top: 65px;
	}
}

#catering_sub{
	@include mq(small){
		.grid{
			background-image: none !important;
		}
	}
}

.bullets{
	li{
		background-image: url($path--rel+"/bullet.png");
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: 5px top;
		padding-left: 40px;
		margin-bottom: 25px;
	}
}

.zitrone-express{
	@include flex-display(flex);
	@include align-items(center);
	margin-top: 40px;
	.logo{
		margin: 0px auto;
		margin-right: 40px;
	}
	@include mq(small){
		@include flex-direction(column);
		margin: 30px 0;
		.logo{
			width: 50%;
			margin: 0 auto;
		}
	}
}
