.why{
	@include flex-display();
	@include flex-wrap(wrap);
	li{
		@include flex-display();
		@include align-items(center);
		@include flex(0 0 46%);
		margin: 0 2%;
		.icon{
			width: 100px;
			height: 100px;
			display: inline-block;
			background-repeat: no-repeat;
			background-size: contain;
		}
		.description{
			@include flex(1);
			margin: 0 30px;
		}
		h2{
			color: $green;
			font-weight: normal;
			letter-spacing: 1px;
		}
	}
	@include mq(small){
		li{
			@include flex( 100% );
			@include flex-direction( column );
			.icon{
				width: 100px;
				height: 100px;
			}
			.description{
				margin: 0 10px;
				text-align: center;
			}
		}
	}
}

.news{
	@include flex-display();
	@include flex-wrap( wrap );
	li{
		padding: 10px;
		margin: 0 2% 20px;
		@include flex(0 0 46%);
		@include flex-display();
		@include align-items(center);
		@include mq(small){
			@include flex(100%);
		}
	}
	a{
		color: $white;
		.source{
			color: $blue;
		}
	}
}

.bullets{
	li{
		background-image: url($path--rel+"/bullets.png");
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: 5px center;
		padding-left: 35px;
	}	
}