input, textarea{
	background-color: transparent;
}

.bg-dark{
	input, textarea{

	}
	form{
		.field{
			border-bottom: solid 1px $white;
			position: relative;
			padding-left: 40px;
		}
	}
	label.icon_form{
		position: absolute;
		left: 0;
		background-image: url($path--rel+"/contact_icons.png");
		width: 30px;
		height: 30px;
		top: 10px;
		left: 10px;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		&.company{
			 background-position: 0 0px;
		}
		&.contact{
			 background-position: 0 -30px;
		}
		&.phone{
			 background-position: 0 -60px;
		}
		&.email{
			 background-position: 0 -90px;
		}
	}
	
}

#home_contact{
	text-align: center;
}

::-webkit-input-placeholder {
   color: palette(gray, light);
}

:-moz-placeholder { /* Firefox 18- */
   color: palette(gray, light);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: palette(gray, light);  
}

:-ms-input-placeholder {  
   color: palette(gray, light);  
}