input, textarea{
	background-color: transparent;
}

.bg-dark{
	input, textarea{

	}
	form{
		.field{
			border-bottom: solid 1px $white;
			position: relative;
			padding-left: 40px;
		}
	}
}

#home_contact .info{
	text-align: center;
	margin-bottom: 50px;
}

.form_checkbox{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
	li{
		width: 33%;
		margin: 12px 0;
		display: flex;
		cursor: pointer;
		span{
			width: 20px;
			height: 20px;
			border: solid 1px $white;
			display: inline-block;
			margin-right: 10px;
			margin-top: 2px;
		}
		&.checked{
			span{
				&:before{
				  content: '\f00c';
				  font-family: 'FontAwesome';
				  font-size: 15px;
				  height: 100%;
				  display: block;
				  color: $green;
				  text-align: center;
				  margin-top: -2px;
				}
			}
		}
	}
	@include mq(small){
		li{
			width: 50%;
		}
	}
}

.home-form{
	.slide{
		padding: 0 20px;
	}
}

textarea.lines{
  background-color: transparent;
  background-image: linear-gradient( $white 0px, transparent 2px);
  background-size: 100% 2em;
  background-position: 0 -2px;
  padding: 0;
  height: 100px;
  line-height: 2em;
  margin-top: 20px;
}

::-webkit-input-placeholder {
   color: palette(gray, light);
}

:-moz-placeholder { /* Firefox 18- */
   color: palette(gray, light);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: palette(gray, light);  
}

:-ms-input-placeholder {  
   color: palette(gray, light);  
}