// ==========================================================================
// Services
// ==========================================================================
@import 'services';

// ==========================================================================
// Contact
// ==========================================================================
@import 'contact';

#home_banner{
	background-size: 100% auto;
	background-position: center;
}

.main > .main_banner{
	padding: 0;
}
.main_banner{
	padding: 0;
	background-size: 100% auto;
	background-position: center;
	.grid{
		background: rgba(0,0,0,0.26);
		width: 100%;
		max-width: none;
		padding: 70px 0;
		color: $white;
		h2{
			text-align: center;
			color: $white;
			font-size: 2.3em;
		}
		.grid__col--6{
			@extend .centered;
			width: 60%;
			text-align: center;
			@include mq(small){
				width: 85%;
			}
		}
	}
	@include mq(small){
		background-size: cover;
		.grid{
			padding: 25px 0;
		}
	}
}