// ==========================================================================
// Services
// ==========================================================================
@import 'services';

// ==========================================================================
// Contact
// ==========================================================================
@import 'contact';

#home_banner{
	background-size: 100% auto;
	background-position: center;
}

.main > .main_banner{
	padding: 0;
}
