// ==========================================================================
// Helpers
// ==========================================================================

// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Screen reader text

.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Center alignment

%center-align {
	text-align: center;
}

// For pseudo-elements

%pseudos {
  display: block;
  content: ''; 
  position: absolute;
}

// Center elements

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

// Float right
.fr{
	float: right;
}

.fl{
	float: left;
}

.visible-sm{
	display:none;
	@include mq(small){
		display:block;
	}
}

.hidden-sm{
	@include mq(small){
		display: none;
	}
}

.visible-lg{
	@include mq(medium){
		display: none;
	}
	@include mq(small){
		display: none;
	}
}

.hidden-lg{
	@include mq(large){
		display: none;
	}
}

.columns-2{
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-gap: 30px;
	-webkit-column-gap: 20px;
	-moz-column-count: 20px;
	@include mq(small){
		column-count: 1;
		-webkit-column-count: 1;
		-moz-column-count: 1;
	}
}

.text-center{
	@extend %center-align;
}
