input, textarea{
	background-color: transparent;
}

.bg-dark{
	input, textarea{

	}
}

#home_contact .info{
	text-align: center;
	margin-bottom: 50px;
}

.form_checkbox-wrap.list-checkbox-wrap ul{
	@include flex-display();
	@include flex-wrap(wrap);
	width: 90%;
	margin: 0 auto;
	float: none;
	li{
		width: 33%;
		margin: 12px 0;
		@include flex-display();
		cursor: pointer;
		span{
			width: 20px;
			height: 20px;
			border: solid 1px $white;
			display: inline-block;
			margin-right: 10px;
			margin-top: 2px;
		}
		&.checked{
			span{
				&:before{
				  content: '\f00c';
				  font-family: 'FontAwesome';
				  font-size: 15px;
				  height: 100%;
				  display: block;
				  color: $green;
				  text-align: center;
				  margin-top: -2px;
				}
			}
		}
	}
	@include mq(small){
		li{
			width: 50%;
		}
	}
}

.home-form{
	.slide{
		padding: 0 20px;
		@include mq(small){
			padding: 0;
		}
	}
}

.contact-us{
	@include flex-display();
	@include flex-wrap(wrap);
	margin-bottom: 50px;
	.icon_form{
		left: 0;
	}
	.contact-us-info{
		@include flex( 1 0 60%);
	}
	.contact-us-social{
		@include flex( 0 1 40%);
		@include mq(small){
			@include flex( 0 1 50%);
		}
	}
	.col > div{
		position: relative;
    padding: 14px 0 15px 40px;
	}
}
