// ==========================================================================
// Icons
// ==========================================================================

// Logo

.site-logo {
	@include img-replace("logo.svg", 115px, 45px, inline-block);
}

// UI

.icn {

	// Nav Toggle
	@include m(nav-toggle) {
		@extend %icn--ui;
		width: 25px;
		height: 17px;
		border-top: solid 3px palette(grey);
		border-bottom: solid 3px palette(grey);
		position: relative;
		@include p-el(before, 25px, 3px) {
			background: palette(grey, light);
			top: 4px;
		}
	}
}

.icon_services{
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top center;
}

.icon_form{
		position: absolute;
		left: 0;
		background-image: url($path--rel+"/contact_icons.png");
		width: 30px;
		height: 30px;
		top: 10px;
		left: 10px;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		&.company{
			 background-position: 0 0px;
		}
		&.contact{
			 background-position: 0 -30px;
		}
		&.phone{
			 background-position: 0 -60px;
		}
		&.email{
			 background-position: 0 -90px;
		}
	}

	.icon_news{
		width: 40px;
		height: 40px;
		margin-right: 20px;
		background-image: url($path--rel+"/contact_icons.png");
		background-size: 100% auto;
		@include mq(small){
			height: 30px;
		}
	}