.main{
	& > section{
		padding: 50px 0 70px;
		.grid  h1{
			font-size: 2em;
			text-align: center;
			margin: 0px 0px 30px;
		}
	}
}

hgroup.main-logo{
	background-image: url($path--rel+"/main_logo.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 70%;
	height: 95px;
	h1{
		visibility: hidden;
		margin: 0;
	}
}

.columns-2{
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-gap: 30px;
	-webkit-column-gap: 20px;
	-moz-column-count: 20px;
}
