.main{
	& > section{
		padding: 50px 0 70px;
		.grid  h1{
			font-size: 2em;
			text-align: center;
			margin: 0px 0px 30px;
		}
	}
}

hgroup.main-logo{
	background-image: url($path--rel+"/main_logo.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 70%;
	height: 95px;
	h1{
		visibility: hidden;
		margin: 0;
	}
	@include mq(small){
		height: 80px;
	}
}

p{
	@include mq(small){
		text-align: center;
	}
}