.testimonials{
	border-top: solid 10px $green;
	padding: 75px;
	@include mq(small){
		padding: 50px 0;
		margin-top: -0.75em;
	}
}

blockquote{
	border: none;
	font-size: 1em;
	padding: 0 10%;
	margin: 0;
	font-style: normal;
	text-align: center;
	footer{
		display: table;
		margin: 0 auto;
		.logo{
			display: table-cell;
			width: 100px;
			height: 80px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			@include mq(small){
				width: 60px;
			}
		}
		.cite{
			display: table-cell;
			vertical-align: middle;
			padding-left: 20px;
			text-align: left;
		}
		p{
			margin: 0;
			color: palette(gray, light);
			@include mq(small){
				text-align: left;
			}
		}
	}
}

cite{
	color: $green;
	font-style: normal;
}

#home_testimonials{
	padding: 0px;
	border-top: solid 1px palette(gray, x-light);
}