.bg-dark{
	background-color: $grey;
	background-image: url(images/line-pattern.png);
	color: $white;
	h1, h2, h3, h4{
		color: $white;
	}
}

.bg-blue{
	background-color: $blue;
}

.bg-dark-blue{
	background-color: $dark-blue;
}