.main-footer{
	background-color: palette(gray, light);
	color: $white;
	text-transform: uppercase;
	padding: 20px 0;
	font-size: em(14px);
	a{
		color: $green;
	}
	@include mq(small){
		text-align: center;
	}
}

.footer-info{
	padding: 11px 0;
}

#lang_sel_footer{
	background-color: darken( palette(gray, light), 5%);
	border: none;
	font-family: $font-family--primary;
	font-size: 11px;
	a{
		color: palette( gray, xx-light );
	}
	li{
		border-right: solid 1px palette( gray, x-light);
		&:last-of-type{
			border: none;
		}
	}
}
