// ==========================================================================
// Nav
// ==========================================================================

.nav {
  margin-top: em(20px);
  margin-bottom: em(30px);

  @include e(item) {
    @extend %nav-item-disp;
    a {
      @extend %nav-item-link;
      color: palette(grey);
      &:hover {
        @extend %nav-item-on;
      }
    }
    @include m(current) {
      @extend %nav-item-disp;
      a {
        @extend %nav-item-link;
        @extend %nav-item-on;
      }
    }
  }
}

%menu_type{
  font-family: $font-family--secondary;
  text-transform: uppercase;
  font-size: em(20px);
  letter-spacing: 1px;
  a{
    width: 100%;
    padding: 30px 0;
    text-align: center;
    display: block;
    &:hover{
      color: $green;
    }
  }
  .active, .current-menu-item{
    background-color: palette(grey, xx-light);
    border-top: solid 5px $green;
    a{
      color: $green;
    }
  }
}

.main-menu{
  @extend %menu_type;
  ul{
    @include flex-display();
  }
  li{
    @include flex(1);
  }
}

#mobile-menu-icon{
  position: absolute;
  top: 30px;
  right: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: lighten(palette(gray, light), 40);
  cursor: pointer;
}

.mobile-menu{
  @extend %menu_type;
  display: none;
  a{
    padding: 15px 0;
    border-top: solid 1px palette(gray, x-light);
  }
  .active, .current-menu-item{
    border-top: none;
  }
}
