.tabs-panel{
	border: solid 1px $white;
	@include flex-display();
	margin: 40px auto;
	nav{
		display: inline-block;
		font-family: $font-family--secondary;
		font-size: em(18px);
		letter-spacing: 1px;
		text-transform: uppercase;
		min-width: 200px;
		border-right: solid 1px $white;
		@include flex(0 0 30%);
		li{
			border-bottom: solid 1px $white;
			cursor: pointer;
			background: $grey;
			&:last-of-type{
				border: none;
			}
			&.active{
				background: $green;
				a{
					color: $grey;
					span{
						background-position: 0 -40px;
					}
				}
				@include mq(small){
					background: $grey;
					a{
						color: $white;
						span{
							background-position: 0 0;
						}
					}
				}
			}
			&.mobile-active{
				@include mq(small){
					background: $green;
					a{
						color: $grey;
						span{
							background-position: 0 -40px;
						}
					}
				}
			}
			@include mq(small){
				&:first-of-type{
					.content-mobile{
						display: block;
					}
				}
			}
		}
		a{
			color: $white;
			display: block;
			padding: 15px 20px 15px 60px;
			position: relative;
			span{
				top: 10px;
				position: absolute;
				left: 10px;
			}
		}
		img{
			margin-bottom: -10px;
		}
		.caption{
			text-transform: none;
			padding: 15px;
			background: $blue;
			color: $grey;
			font-family: $font-family--primary;
			font-size: em(14px);
		}
	}
	.content-mobile{
		height:0;
		overflow: hidden;
		@include mq(small){
			height: auto;
			overflow: auto;
			display: none;
		}
	}
	.content{
		display: inline-block;
		height: auto;
		margin: 0px;
		@include flex(1 1 70%);
		section{
			position: relative;
			height: 290px;
			background-size: cover;
			background-position: center;
			.caption{
				height: auto;
				width: 100%;
				background: rgba(41, 56, 65, .8);
				position: absolute;
				bottom: -100%;
				color: $white;
				display: table;
				transition: all .8s ease-out;
				& > div{
			    display: table-cell;
			    vertical-align: middle;
			    padding: 20px;
				}
			}
			&.current{
				display: block;
				
			}
			&.slick-active{
				.caption{
					bottom: 0;
				}
			}
		}
	}
	@include mq(small){
		nav{
			width: 100%;
			min-width: 100%;
		}
		.content{
			display: none;
		}
	}
}
#home_services{
	.caption{
		h1{
			font-size: em(24px);
			margin-bottom: 10px;
		}
		p{
			font-size: em(14px);
			text-align: left;
			margin: 0;
		}
	}
}